{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2017,
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off"
  }
}
