div.footer__icons
  figure.footer__icon.footer__icon-linkedin
    a(href='https://www.linkedin.com/in/baran-roman/' aria-label='Go to my LinkedIn profile!')
      include ~@images/linkedin.svg
    figcaption.footer__icon-caption--hidden LinkedIn link

  figure.footer__icon.footer__icon-github
    a(href='https://github.com/Areksbi/' aria-label='Go to my GitHub profile!')
      include ~@images/github.svg
    figcaption.footer__icon-caption--hidden Github link
