include certification

section
  header
    h2 Certifications

  h3 Core

  +certification('International Business Management Institute (IBMI)', '../assets/images/ibmi.png', 'https://www.ibm-institute.com/verify/',
    'Project Management', '347422-161-202-7871',
    'Test',
    'January 2021')

  +certification('International Business Management Institute (IBMI)', '../assets/images/ibmi.png', 'https://www.ibm-institute.com/verify/',
    'Mini-MBA', '347422-161-149-1199',
    'Test',
    'January 2021')

  +certification('International Business Management Institute (IBMI)', '../assets/images/ibmi.png', 'https://www.ibm-institute.com/verify/',
    'Business Management', '347422-161-149-1510',
    'Test',
    'January 2021')

