section
  header
    h2 Contacts
  address
    table
      tr
        td Location
        td
          a(href='https://goo.gl/maps/3LLDYKu8a7btQPq57' target='_blank' rel='noopener noreferrer') Province of Como, Italy
      tr
        td Email
        td
          a(href='mailto:test@test.com' target='_blank' rel='noopener noreferrer') test@test.com
      tr
        td Mobile
        td
          a(href='tel:+393334445566' target='_blank' rel='noopener noreferrer') +39 333 444 5566
      tr
        td Website
        td
          a(href='https://areksbi.com' target='_blank' rel='noopener noreferrer') areksbi.com
      tr
        td LinkedIn
        td
          a(href='https://www.linkedin.com/in/baran-roman/' target='_blank' rel='noopener noreferrer') linkedin.com/in/baran-roman
      tr
        td GitHub
        td
          a(href='https://github.com/Areksbi' target='_blank' rel='noopener noreferrer') github.com/Areksbi
