include job

section
  header
    h2 Education

  +job('University of Milan', '../assets/images/unimi.png', 'https://www.unimi.it/',
    'Bachelor in Computer Science', 'Milan, Italy',
    'As a working student, I have the opportunity to complete my three-year Bachelor in six years, so I expect to finish my degree studies by 2024.',
    '2018')

