include job

section
  header
    h2 Experiences

  +job('Accenture', '../assets/images/accenture.png', 'https://www.accenture.com/',
    'Application Development Specialist',
    '<ul>' +
      '<li>Lead Front End team</li>' +
      '<li>Government site</li>' +
      '<li>Accessibility, W3 Validation and Microservices</li>' +
      '<li>Interviewing new candidates</li>' +
      '<li>Attending events</li>' +
      '<li>Teaching</li>' +
      '<li>Speeches</li>' +
    '</ul>',
    'December 2019')

  +job('Accenture', '../assets/images/accenture.png', 'https://www.accenture.com/',
    'Application Development Senior Analyst',
    '<ul>' +
      '<li>HTML, CSS, Vanilla JavaScript, Angular and React</li>' +
      '<li>Led release of one of the most important Italian banks</li>' +
      '<li>Several Front End projects:' +
        '<ul>' +
          '<li>websites for an Italian telecommunications operator</li>' +
          '<li>publishing group</li>' +
          '<li>e-learning platform</li>' +
          '<li>Swiss gas and electricity supplier</li>' +
        '</ul>' +
      '</li>' +
      '<li>Microsoft Office suite</li>' +
      '<li>Unit and e2e tests</li>' +
      '<li>Soft skills and methodologies</li>' +
    '</ul>',
    'September 2018', 'November 2019')

  +job('Yoox Net-a-Porter Group', '../assets/images/ynap.png', 'https://www.ynap.com/',
    'Junior Interface Developer',
    '<ul>' +
      '<li>HTML, CSS, JavaScript (ES6), SEO, Page Speed Opt., W3 Validation</li>' +
      '<li>Agile team</li>' +
      '<li>E-commerce of international brands</li>' +
      '<li>DevOps</li>' +
      '<li>Managed cross-team project</li>' +
      '<li>Google Analytics</li>' +
    '</ul>',
    'November 2016', 'August 2018')
