header.header
  h1.header__title Roman Baran
  h2 Lead Web Developer
  p
    i “Choose a job you love, and you will never have to work a day in your life."
  p This is what I am looking for, a job where I can make a difference. A job with significant responsibilities.
  p A job open to new technologies and with a good environment that allows everyone to grow.
  p Specialized in
    strong  Front End Development
    |  with great interests in
    strong  Artificial Intelligence
    |  and
    strong  Software Architectures
    | .
