mixin head
  head
    title Roman Baran
    meta(charset='utf-8')
    meta(name='description' content='Roman "Areksbi" Baran - Personal Website')
    link(rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico')
