include job

section
  header
    h2 Languages

  table
    tr
      td English
      td Work proficiency
    tr
      td Italian
      td Mother tongue
    tr
      td Ukrainian
      td Native language
    tr
      td Russian
      td Basics
    tr
      td German
      td Studying
