include job

section
  header
    h2 Volunteering

  +job('Italian Red Cross', '../assets/images/italian_red_cross.png', 'https://www.cricantu.org/',
    'Volunteer', 'Cantù, Italy',
    'Switchboard for emergencies and remote assistance management.<br>I also deal with resignations from / to hospitals or social places.',
    'Apr 2019')

  +job('La Soglia', '../assets/images/lasoglia.jpg', 'https://lasoglia.it/',
    'After-school', 'Cantù, Italy',
    'Helped elementary and middle school children doing their homework.',
    'Nov 2013', 'May 2015')

  +job('Nonni su Internet', '../assets/images/fondazione_mondo_digitale.png', 'https://mondodigitale.org/it/cosa-facciamo/aree-intervento/invecchiamento-attivo/nonni-su-internet',
    'Volunteer', 'Como Area, Italy',
    'Helped the elderly with the use of computers, Office and the internet.',
    'Nov 2013', 'May 2015')

