.coming-soon-image
  figure.coming-soon-image__cactus
    include ~@images/cactus.svg
  figure.coming-soon-image__desktop
    include ~@images/desktop.svg
  figure.coming-soon-image__headphones
    include ~@images/headphones.svg
  figure.coming-soon-image__smartphone
    include ~@images/smartphone.svg
  figure.coming-soon-image__cup
    include ~@images/cup.svg
