include ~@templates/head
include ~@templates/copyright

html
  +head('Coming Soon')

  body
    header
      figure
        svg
      h1 Roman Baran #[span aka] Areksbi
      h2 Senior Web Developer

    main
      section
        header
          h2 Coming Soon
      section
        p For now, visit my #[a(href='https://www.linkedin.com/in/baran-roman/') LinkedIn] profile!

    footer
      +copyright
