include ~@templates/head
include ~@templates/copyright

html
  +head('Coming Soon')

  body
    header
      figure
        svg

      h1 Roman Baran #[span aka] Areksbi
      h2 Senior Web Developer

    main
      p Coming Soon

    footer
      +copyright
