include molecules/head

doctype html
html(lang="en")
  +head

  body
    include molecules/header

    main
      include molecules/contacts
      include molecules/experiences
      include molecules/education
      include molecules/certifications

