- const name = 'Areksbi';

mixin head(title)
  head
    title=((title && `${title} - ${name}`) || name)
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
